<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <add key="username" value="user" />
      <add key="password" value="pass" />
      <add key="token" value="token" />
      <add key="clientId" value="clientId" />
      <add key="clientSecret" value="clientSecret" />
    </appSettings>
</configuration>